body{
}
.title{
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.addStock{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.labelElement{
    border:1px solid #bbb;
    border-left-width: 5px;
    background-color: ghostwhite;
    margin-bottom: 2px;
}
.labelElement:hover{
    border:1px solid #bb311c;
    border-left-width: 5px;
    background-color: ghostwhite;
}

.labels-container{
height:320px;
}
.footer{
    position: relative;
    margin-top: 20px;
    text-align: center;
}